.header {
    position: sticky;
    display: flex;
    align-items: center;
    height: 4rem;
    top: 0;
}

.header-img {
    width: 70px;
    margin-left: 1rem;
}

.center-div {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1;
    color: #000;
}

.header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    border: 0;
    outline: none;
    cursor: pointer;
}
